.container {
  margin: 0 24px;
}

.restaurant-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 24px;
}

.card {
  border: 1px solid #e0e0e0;
  background-color: #ffffff;
  transition: box-shadow 0.3s ease;
  max-width: 100%;
  min-height: fit-content;
  text-align: left;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
  display: flex;
  flex-direction: column;
  /* gap: 0.5rem; */
}

.card:hover {
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

.card img {
  width: 100%;
  aspect-ratio: 16 / 9;
  height: auto;
  object-fit: cover;
}

.card h3 {
  font-size: 1.2rem;
  color: #333;
}

.card p {
  font-size: 0.95rem;
  color: #555;
}

.card a {
  padding: 8px 4px;
  background-color: #2f80ed;
  color: white;
  text-decoration: none;
  font-weight: 500;
  transition: background-color 0.2s ease;
  text-align: center;
}

.card a:hover {
  background-color: #1366d6;
}
